/* RESET */

*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: inherit;
}

body {
  font-family: sans-serif;
  font-size: 62.5%;
  color: #eee;
}




/* PAGE LAYOUT */

.page-layout {
  display: flex;
}

.page-layout > * {
  min-height: 100vh;
}

.page-layout__aside {
  position: fixed;
  top: 0;
  left: 0;
  width: 20%;
  background-color: rgb(242, 244, 250);
}

.page-layout__main {
  margin-left: 20%;
  min-height: 100vh;
}




/* NAVIGATION */

.nav {
  min-height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
}

.nav__ul {
  min-height: 12rem;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  list-style: none;
}

.nav__li {
  margin: 0 1rem;
  text-transform: uppercase;
  font-size: 1rem;
  font-weight: 400;
  letter-spacing: 2px;
}

.nav__a {
  color: black;
  text-decoration: none;
  transition: opacity .4s;
}

.nav__a:hover {
  opacity: .4;
}

.nav__a--active {
  text-decoration: underline;
}




/* IMAGES */

.img-slider {
  height: 100%;
  background-size: cover;
  background-image: url('./imgs/vila-danica/vila-danica-front.png');
}

.img {
  height: 100%;
  width: 100%;
}




/* APPARTMENTS LIST */

.apartments-list {
  
}

.apartments-list__item {
  margin-bottom: 6rem;
}

.apartments-list__link {
  text-decoration: none;
}



/* APPARTMENT OVERVIEW */

.apartment-overview {
  
}

.apartment-overview__title {
  
}

.apartment-overview__details {
  margin-top: 1rem;
  max-height: 35vh;
  overflow: hidden;
  background-size: cover;
  display: flex;
}

.apartment-overview__img {
  width: 40%;
  transition: all .4s;
}

.apartment-overview__list {
  list-style: inside;
  flex-grow: 1;
  padding: 3rem;
  font-size: 1rem;
  font-weight: bold;
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
  color: rgb(77, 75, 75);
}

.apartment-overview__list-item {
  margin-bottom: 1rem;
  border-bottom: 1px solid #eee;
}




/* ABOUT */

.about__text {
  width: 60%;
  padding: .5rem 2rem;
}

.about__container {
  display: flex;
  width: 100%;
  margin-top: 1rem;
}

.about__img {
  width: 40%;
}



/* TABLE */
.table {
  font-family: arial, sans-serif;
  border-collapse: collapse;
  width: 100%;
  color: black;
  font-size: 1rem;
  line-height: 1.7;
}

.table td, th {
  border: 1px solid #dddddd;
  text-align: left;
  padding: .5rem 1rem;
}

.table tr:nth-child(even) {
  background-color: #dddddd;
}



/* TYPOGRAPHY */

.text {
  color: rgb(93, 92, 92);
  font-size: 1rem;
  line-height: 1.7;
}

.title-main {
  text-transform: uppercase;
  font-size: 1.4rem;
  font-weight: 100;
  letter-spacing: 2px;
  color: rgb(72, 71, 71);
}




/* GALLERY */

.gallery {
  margin-top: 2rem;
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: space-between;
}

.gallery__img {
  width: 23%;
  height: 10rem;
  cursor: pointer;
}

.gallery-open {
  position: fixed;
  top: 0;
  left: 0;
  z-index: 2;
  width: 100vw;
  height: 100vh;
  background-color: rgba(0, 0, 0, .9);
  text-align: center;
}

.gallery-open__img {
  max-width: 70rem;
  max-height: 70vh;
  margin-top: 5rem;
}

.gallery-open__btn {
  min-width: 8rem;
  min-height: 3rem;
  border-radius: 3px;
  border: 3px solid white;
  outline: none;
  background-color: black;
  color: white;
  margin: 2rem;
  text-transform: uppercase;
  cursor: pointer;
  transition: all .4s;
  font-size: 1.6rem;
  font-weight: 100;
}

.gallery-open__btn:hover {
  background-color: white;
  color: black;
}




.fineprint {
  color: rgb(71, 70, 70);
  display: block;
  font-size: .8rem;
  padding: 1rem 0 0 0;
}



/* UTILITIES */

.p-4 {
  padding: 4rem;
}

.mt-1 {
  margin-top: 1rem;
}

.mt-2 {
  margin-top: 2rem;
}

.mt-3 {
  margin-top: 3rem;
}

.mt-4 {
  margin-top: 4rem;
}

.d-none {
  display: none;
}

.box-shadow {
  box-shadow: rgba(0, 0, 0, 0.15) 1.95px 1.95px 2.6px;
}

.curved-corners {
  border-radius: 5px;
  overflow: hidden;
}